section(class='{className}') { Heading }
    Divider
    h2 Fill out your details to claim your free pint of Guinness
    Icon
    form(onSubmit='{handleSubmit}' noValidate)
        Field(type='text' name='name' component='{FormField}' placeholder='First Name' tabIndex="1" validate='{[validator.required,validator.alphaNumericDash]}' )
        Field(type='text' name='surname' component='{FormField}'  placeholder='Surname' tabIndex="2" validate='{[validator.required,validator.alphaNumericDash]}')
        Field(type='text' name='phone_number' component='{FormField}' pattern='[0-9]*' tabIndex="3" inputMode="numeric" placeholder='Phone Number'  options='{{numericOnly:true, blocks: [4,3,3]}}' validate='{[validator.required,validator.phoneNumber]}')
        Field(type='text' name="dob" component='{FormField}' pattern='[0-9]*' tabIndex="4" inputMode="numeric" placeholder='Date of birth (DD/MM/YYYY)' options='{{date:true, datePattern: [\'d\',\'m\',\'Y\']}}' validate='{[validator.required,validator.agegate]}')
        Field(type='text' name="email" component='{FormField}' placeholder='Email' tabIndex="5" validate='{[validator.required,validator.email]}')
        Field(type='select' name="state" component='{FormField}' placeholder='State' tabIndex="6" validate='{[validator.required,validator.hasNo]}')
            option(value="") Choose State
            option(value="NSW") NSW
            option(value="QLD") QLD
            option(value="VIC") VIC
            option(value="WA") WA
        Field(type='text' name="postcode" component='{FormField}' pattern='[0-9]*' tabIndex="7" placeholder='Postcode' inputMode="numeric" options='{{numericOnly:true, blocks: [4]}}' validate='{[validator.postcode,validator.required]}')
        Field(type='radio' name="redeem" id="redeem1" label="Redeem now" component='{FormField}' tabIndex="8" value='redeem')
        Field(type='radio' name="redeem" id="redeem2" label="Save for later" component='{FormField}' tabIndex="9" value='save')
        Field(type='checkbox' name="privacy_policy" label='{PrivacyPolicyLabel}' component='{FormField}' tabIndex="10" value='true' validate='{[validator.required]}')
        Field(type='checkbox' name="consent" label='I consent to receiving marketing communications from Guinness via email and SMS*' tabIndex="11" component='{FormField}' value='true' validate='{[validator.required]}')
        //- Field(type='hidden' name="token" component='{FormField}' value='')
        Recaptcha(sitekey='{Config.recaptcha}' theme='dark')
        Button(disabled='{ submitting || !valid }' type='submit') Continue
        .hintText *Mandatory fields
        p.disclaimer NSW, QLD, VIC, WA resid. 18+ only. Ends 11.59pm AEDT 14/3/19, while stocks last in venue. Max 1 redemption per person, email & phone no.
        p.disclaimer WA: A complimentary pint of Guinness can only be redeemed in Western Australian participating venues in conjunction with the purchase of a substantial meal.
