section(class='{className}') { Heading }
    Divider
    h2 Answer the following
    Icon
    div(@if='firstQuestion')
        h3 What day does St. Patrick's Day fall on this year?
        br
        Field(type='radio' onChange='{updateInputValue}' value="15" label="Sunday 15th March" id="date1" name='date' tabIndex="1")
        Field(type='radio' onChange='{updateInputValue}'  value="16" label="Sunday 16th March" id="date2" name='date' tabIndex="-1")
        Field(type='radio' onChange='{updateInputValue}'  value="17" label="Sunday 17th March" id="date3" name='date' tabIndex="-1")
        Button(disabled='{buttonDisabled}' onClick='{checkQuestion}') Submit
    div(@if='secondQuestion')
        h3 Where is Guinness brewed?
        br
        Field(type='radio' onChange='{updateInputValue}' value="15" label="Scotland" id="date1" name='date' tabIndex="1")
        Field(type='radio' onChange='{updateInputValue}'  value="16" label="Wales" id="date2" name='date' tabIndex="-1")
        Field(type='radio' onChange='{updateInputValue}'  value="17" label="St. James's Gate Brewery, Dublin" id="date3" name='date' tabIndex="-1")
        Button(disabled='{buttonDisabled}' onClick='{checkQuestion}') Submit