@import '../../node_modules/foundation-sites/scss/util/util';
//@import '~foundation-sites/scss/settings/settings';
@import './settings';
@import '~foundation-sites/scss/foundation';
//
@include foundation-global-styles;
@include foundation-xy-grid-classes;
/* 
  @include foundation-grid;
 @include foundation-flex-grid;
*/
// @include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;

.testing {
	background-color: blue;
}
body {
  margin: 0 20px;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}


$font: '/fonts/LeagueGothicRegular';
@font-face {
  font-family: "League Gothic Regular";
  src: url("#{$font}/font_file.eot"); /* IE9*/
  src: url("#{$font}/font_file?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font}/font_file.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font}/font_file.woff") format("woff"), /* chrome、firefox */
  url("#{$font}/font_file.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

$font: '/fonts/RobotoMedium';
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("#{$font}/font_file.eot"); /* IE9*/
  src: url("#{$font}/font_file?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font}/font_file.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font}/font_file.woff") format("woff"), /* chrome、firefox */
  url("#{$font}/font_file.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

$font: '/fonts/RobotoLight';
@font-face {
  font-family: "Roboto";
  src: url("#{$font}/font_file.eot"); /* IE9*/
  src: url("#{$font}/font_file?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font}/font_file.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font}/font_file.woff") format("woff"), /* chrome、firefox */
  url("#{$font}/font_file.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

$font: '/fonts/RobotoCondensedLight';
@font-face {
  font-family: "RobotoCondensed";
  src: url("#{$font}/font_file.eot"); /* IE9*/
  src: url("#{$font}/font_file?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font}/font_file.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font}/font_file.woff") format("woff"), /* chrome、firefox */
  url("#{$font}/font_file.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

h2{
  font-family: "RobotoCondensed";
  color: #bd955b;
  text-transform: uppercase;
}
a{
  text-transform: uppercase;
  font-size: 24px;
}
.divider{
  position: relative;
  margin: 0 0 20px;
  > span {
    width: 75px;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(230,187,98,1) 0%, rgba(230,187,98,0.18) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(230,187,98,1) 0%,rgba(230,187,98,0.18) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(230,187,98,1) 0%,rgba(230,187,98,0.18) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb62', endColorstr='#2ee6bb62',GradientType=1 ); /* IE6-9 */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 10px;
    &:first-of-type{
      background: -moz-linear-gradient(left, rgba(230,187,98,0.18) 0%, rgba(230,187,98,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(230,187,98,0.18) 0%,rgba(230,187,98,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(230,187,98,0.18) 0%,rgba(230,187,98,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ee6bb62', endColorstr='#e6bb62',GradientType=1 ); /* IE6-9 */
    }
  }
}
.desktop {
  display: none;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  .pintshouted{
    background-image: url(/images/BG.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;
    top: -40px;
    min-width: 100%;
    height: 542px;
    margin: 0 auto;
  }
  .desktop-content {
    position: relative;
    top: 192px;
  }
}
@include breakpoint(large up){
  main{
    display: none;
  }
  .desktop{
    display: block;
  }
}
