section(class='{className}') { Heading }
    Divider
    div.redeemed-content
        p Don't forget that St. Patrick's Day is on Sunday the 17th March.
        p Why not make plans with mates and head down to your&nbsp;
            Link(overwriteStyle='{LinkCss}' href="https://guinnesspubfinder.com.au/?ag_1234" target="_blank") local
            | !?
            br
            span.slainte  Sláinte!
    Button(overwriteStyle='{ButtonCss}' href="https://guinnesspubfinder.com.au/?ag_1234" target="_blank") Guinness Pub Finder
    div
        h2 Tag us on:
        Icon
        .tags
            div
                Link(href="https://www.facebook.com/GuinnessAustralia/" target="_blank")
                    img(src='/images/fb.png')
                    br
                    span
                        | Search
                        br
                        | guinness (au)
            div
                Link(href="https://www.instagram.com/guinness_au/" target="_blank")
                    img(src='/images/insta.png')
                    br
                    span
                        | Search
                        br
                        | guinness_au
