div( class='{className}')
    div(@if='hamburger')
        ul
            li
                Link(href="https://guinnesspubfinder.com.au/") Participating Venues
            li
                Link(href="/how-to-enter") How to Enter
            li
                Link(href="/faq") Frequently Asked Questions
            li
                Link(href="http://lionco.com/legal/privacy-policy" target="_blank") Privacy Policy

            li
                Link(href="/terms") Terms &amp; Conditions
        .hamburger-footer
            div
                Link(styled="false" href="https://lionco.com/contact" target="_blank") Contact Us &nbsp;
                | |
                Link(styled="false" href="https://lionco.com/legal/terms-and-conditions/website-terms-and-conditions" target="_blank") &nbsp; Copyright 2017 &copy; Lion
                div
                    Link(nostyle="false" href="https://drinkwise.org.au/" target="_blank")
                        img(src='/images/drinkwise.svg')
