section(class='{className}')
    HeadingImage(image='CLAIM')
    Divider
    h2 Select or search a local participating venue below
    Icon
    br
    Geosuggest(@if='geoSuggestProps.searchNear.active' __jsx='{...geoSuggestProps.searchNear}')
    div(@if='geoSuggestProps.searchNear.active')
        h2 OR
    Geosuggest( __jsx='{...geoSuggestProps.searchVis}')
    div 
        p The offer is only valid for 15 minutes. Wait until you're at the bar and ready to order then the staff will validate your free pint. Sliánte!
    Button(disabled='{buttonDisabled}' onClick='{ButtonClick}') Redeem at bar