section(class='{className}') { Heading }
    Divider
    CountDown(@if='!countDownComplete' toDate='{toDate}' activate='{timerActivated}' onEnd='{onCountdownEnd}')
    h2(@if='!countDownComplete') Minutes Remaining
    div(@if='countDownComplete')
        .expired Expired
        p Sorry, time has run out and you've missed out this time. You can try again after 24 hrs has passed.
    div(@if='countDownCompleteActivate')
        p BARTENDER: Please tap the Pint Served button below during or after your Guinness perfect pour to validate the customer's claim. Sláinte!
        Button(overwriteStyle='{ButtonCss}' onClick='{params.pintOrdered}') Pint Served
    div(@if='!timerActivated')
        p The offer is valid for 15 minutes. When you're ready to order at the bar, tap activate and show the bartender your phone screen.
        Button(onClick='{sendActivation}') Activate
        p.disclaimer WA: A complimentary pint of Guinness can only be redeemed in Western Australian participating venues in conjunction with the purchase of a substantial meal.
        br
        Button(overwriteStyle='{ButtonCss}' onClick='{GoBack}') Back
