<div class="main">
    <h1>Welcome to Storybook for HTML</h1>
    <p>This is a UI component dev environment for your plain HTML snippets.</p>
    <p>
      We've added some basic stories inside the <code class="code">stories</code> directory.
      <br />
      A story is a single state of one or more UI components. You can have as many stories as you want.
      <br />
      (Basically a story is exactly like <b>WOWsa</b> a visual test case.)
    </p>
    <p>
      See these sample <a class="link" href="#" data-sb-kind="Demo" data-sb-story="button">stories</a>
    </p>
    <p></p>
    <p>
      Just like that, you can add your own snippets as stories.
      <br />
      You can also edit those snippets and see changes right away.
      <br />
    </p>
    <p>
      Usually we create stories with smaller UI components in the app.<br />
      Have a look at the
      <a class="link" href="https://storybook.js.org/basics/writing-stories" target="_blank">
        Writing Stories
      </a>
      section in our documentation.
    </p>
  </div>